<ion-header>

</ion-header>

<ion-content >

  <ion-toolbar>
    <nav class="navbar bg-primary">
      <div class="container-fluid" >
        <a  class="navbar-brand" href="/" >
          <img  slot="end" src="https://app.schoology.com/sites/all/themes/schoology_theme/images_front/header-logo-transparent.png" alt="Logo" width="175" height="31" class="d-inline-block align-text-top" >
        </a>
      </div>
    </nav>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->





  </ion-toolbar>

</ion-content>
